<%- include('commons/header'); -%>
<section class="container">
  <div class="row">
    <div class="col text-end">
      <img src='/img/<%= produto.img %>' class='image-produto'>
    </div>
    <div class="col">
      <h1 class='produto-nome'><%= produto.nome %></h1>
      <p class="lead"><%= produto.descricao %></p>
      <h3 class='produto-valor'>R$ <%= produto.valor %></h3>
      <a href='/produtos' class='btn btn-comprar'>Comprar</a>
    </div>
  </div>
  </section>
<%- include('commons/footer'); -%>